@import "tailwindcss";

:root {
  --container-max-width: 1594px;

  --background: #ffffff;
  --foreground: #171717;

	--active: #694fd7;
  --active-light: #e2e8ff;
	--black: #000;
  --white: #fff;
  --gray: #6c6c6c;
  --gray-light: #f4f5f7;

  --color-gradient: linear-gradient(1deg, #a9b0ff 0%, #f1f1f1 100%);

  --shadow-main: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}  

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-active: var(--active);
  --color-active-light: var(--active-light);
  --color-black: var(--black);
  --color-white: var(--white);
  --color-gray: var(--gray);
  --color-gray-light: var(--gray-light);

  --shadow-main: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  --font-sf: var(--font-sf);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {

    body {
        @apply bg-background text-foreground font-sf overflow-x-hidden;
    }

    h2 {
      @apply text-3xl md:text-[2.5rem] font-bold 
    }

    p {
      @apply text-[1.125rem] md:text-xl text-gray font-normal leading-5.5
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

/* === UTILITIES === */
@layer utilities {
  .bg-banner-gradient {
    @apply bg-linear-to-t from-[#a9b0ff] to-[#f1f1f1]
  }

  /* .swiper {
  width: 100%;
  height: 100%;
} */

}
