@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --container-max-width: 1594px;

  --background: #ffffff;
  --foreground: #171717;

	--active: #694fd7;
  --active-middle: #bec3fb;
  --active-light: #e2e8ff;
	--black: #000;
  --white: #fff;
  --gray: #6c6c6c;
  --gray-pantone: #aeaeae;
  --gray-light: #f4f5f7;
  --yellow: #fcc105;

  --bg-input: #e9ecf0;

  --border: #dfe0e2;

}  

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-active: var(--active);
  --color-active-middle: var(--active-middle);
  --color-active-light: var(--active-light);
  --color-black: var(--black);
  --color-white: var(--white);
  --color-gray: var(--gray);
  --color-gray-pantone: var(--gray-pantone);
  --color-gray-light: var(--gray-light);
  --color-yellow: var(--yellow);

  --color-bg-input: var(--bg-input);

  --shadow-main: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  --font-sf: var(--font-sf);
  --font-inter: var(--font-inter);

  --color-border: var(--border);

  --background-image-gradient-custom: linear-gradient(90deg, #e2e8ff 0%, rgba(197, 184, 255, 0) 89.9%);
}


.dark {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

@layer base {

    body {
        @apply bg-background text-foreground font-sf overflow-x-hidden;
    }

    p {
      @apply text-[1.125rem] lg:text-xl text-gray font-normal leading-5.5 dark:text-gray-pantone
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

/* === UTILITIES === */
@layer utilities {
  h2 {
      @apply text-3xl md:text-[2.5rem] font-bold 
    }

  h4 {
      @apply text-xl lg:text-[1.625rem] font-bold
    }

  .bg-banner-gradient {
    @apply bg-linear-to-t from-[#a9b0ff] to-[#f1f1f1]
  }

  .bg-banner-blur {
    backdrop-filter: blur(50px);
    background: rgba(217, 217, 217, 0.13);
  }  

  /* .swiper {
  width: 100%;
  height: 100%;
} */

}
