@import "tailwindcss";

:root {
  --container-max-width: 1594px;

  --background: #ffffff;
  --foreground: #171717;

	--active: #694fd7;
	--black: #000;
  --white: #fff;
  --gray: #6c6c6c;

  --color-gradient: linear-gradient(1deg, #a9b0ff 0%, #f1f1f1 100%);
}  

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-active: var(--active);
  --color-black: var(--black);
  --color-white: var(--white);
  --color-gray: var(--gray);

  --font-sf: var(--font-sf);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {

    body {
        @apply bg-background text-foreground font-sf;
    }

    /* h1,
    h2,
    h3,
    h4 {
        font-weight: 700;
    } */

    a {
        text-decoration: none;
        color: inherit;
    }
}

/* === UTILITIES === */
@layer utilities {
  .bg-banner-gradient {
    @apply bg-linear-to-t from-[#a9b0ff] to-[#f1f1f1]
  }
}
